body {
  background-color: grey;
  text-align: center;
}

.main {
  font-size: 25px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  font-weight: bolder;
}

.small {
  font-size: 15px;
  font-weight: bold;
}

.coolButton {
  border-radius: 7px;
  background-color: darkgrey;
  font-family:cursive;
}